@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary: #0279b9;
  --secondary: #f4f4f4;
  --accent: #fcbf49;
  --pp: #a60874;
  --gry: #a60874;
  --grn: #7bffb3;

  /* Screen Sizes */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;

  /* font family */
  --basic-font: ui-sans-serif, system-ui;
  --open-sans: "Open Sans", sans-serif;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;
  --script: "Caveat", cursive;
}

* {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: 900;
  cursor: pointer;
  font-size: 2rem;
}

.script-font {
  font-family: var(--script);
  font-size: 18px;
  font-weight: 400;
  color: var(--grn);
}

.absolute {
  position: absolute;
}

body {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  margin-inline: auto;
  position: relative;
  font-family: var(--open-sans);
}

.navOpen {
  display: flex;
}

/* Program active class */
#header ul li.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

/* Popups */
.submit_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.submit_popup .show {
  visibility: visible;
  opacity: 1;
}

.show {
  visibility: visible;
  opacity: 1;
}

.submit_success {
  display: none;
}

.submit_loader img,
.submit_success img {
  max-width: 200px;
}

/* Evemt card */
.hidden-content {
  display: none;
}

#cardContainer {
  padding: 10px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.event-card {
  width: 100%;
  background: #a6087480;
  color: #fff;
  padding-inline: 2rem;
  padding-block-start: 2em;
  padding-block-end: 0;
  border-radius: 2rem;
  transition: height 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
}

.event-card:nth-child(odd) {
  background: #0279b980;
}

.default {
  height: 400px;
}

.expanded {
  height: 570px;
}

.collapsed {
  height: 230px;
}

.hidden-paragraph {
  display: none;
}

/* text animation  */
.text-flip-container {
  perspective: 900px;
}

#text-container {
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center;
  display: inline-block;
}

.flip-forward {
  transform: rotateX(180deg);
}

.flip-backward {
  transform: rotateX(-180deg);
}

.color1 {
  color: var(--primary);
}

.color2 {
  color: var(--accent);
}

.color3 {
  color: var(--pp);
}

/* Icons for Animation */
.icurve2 {
  z-index: 10;
  animation: fbmovement 1.4s infinite linear;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100px;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    transparent 90%,
    transparent 100%
  );
  animation: slide 1.5s infinite;
}

.mask1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    rgba(244, 244, 244, 1) 10%,
    rgba(244, 244, 244, 1) 90%,
    transparent 90%,
    transparent 100%
  );
  animation: slide 1.5s infinite;
}

.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100px;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    transparent 90%,
    transparent 100%
  );
  animation: slide1 1.5s infinite;
}

/* Animations */

@keyframes slide {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes slide1 {
  100% {
    transform: translateX(200px);
  }

  0% {
    transform: translateX(0px);
  }
}

@keyframes slideTransparency {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
}

@keyframes fbmovement {
  0%,
  100% {
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(0px);
  }
}
